@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_D_0.ttf);
  src: url(font/39312E_D_0.eot);
  src: url(font/39312E_D_0.woff);
  src: url(font/39312E_D_0.woff2);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_C_0.ttf);
  src: url(font/39312E_C_0.eot);
  src: url(font/39312E_C_0.woff);
  src: url(font/39312E_C_0.woff2);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_13_0.ttf);
  src: url(font/39312E_13_0.eot);
  src: url(font/39312E_13_0.woff);
  src: url(font/39312E_13_0.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_12_0.ttf);
  src: url(font/39312E_12_0.eot);
  src: url(font/39312E_12_0.woff);
  src: url(font/39312E_12_0.woff2);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_F_0.ttf);
  src: url(font/39312E_F_0.eot);
  src: url(font/39312E_F_0.woff);
  src: url(font/39312E_F_0.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_E_0.ttf);
  src: url(font/39312E_E_0.eot);
  src: url(font/39312E_E_0.woff);
  src: url(font/39312E_E_0.woff2);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_11_0.ttf);
  src: url(font/39312E_11_0.eot);
  src: url(font/39312E_11_0.woff);
  src: url(font/39312E_11_0.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_10_0.ttf);
  src: url(font/39312E_10_0.eot);
  src: url(font/39312E_10_0.woff);
  src: url(font/39312E_10_0.woff2);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_4_0.ttf);
  src: url(font/39312E_4_0.eot);
  src: url(font/39312E_4_0.woff);
  src: url(font/39312E_4_0.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_3_0.ttf);
  src: url(font/39312E_3_0.eot);
  src: url(font/39312E_3_0.woff);
  src: url(font/39312E_3_0.woff2);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_9_0.ttf);
  src: url(font/39312E_9_0.eot);
  src: url(font/39312E_9_0.woff);
  src: url(font/39312E_9_0.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_8_0.ttf);
  src: url(font/39312E_8_0.eot);
  src: url(font/39312E_8_0.woff);
  src: url(font/39312E_8_0.woff2);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_6_0.ttf);
  src: url(font/39312E_6_0.eot);
  src: url(font/39312E_6_0.woff);
  src: url(font/39312E_6_0.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_7_0.ttf);
  src: url(font/39312E_7_0.eot);
  src: url(font/39312E_7_0.woff);
  src: url(font/39312E_7_0.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_B_0.ttf);
  src: url(font/39312E_B_0.eot);
  src: url(font/39312E_B_0.woff);
  src: url(font/39312E_B_0.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_A_0.ttf);
  src: url(font/39312E_A_0.eot);
  src: url(font/39312E_A_0.woff);
  src: url(font/39312E_A_0.woff2);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_5_0.ttf);
  src: url(font/39312E_5_0.eot);
  src: url(font/39312E_5_0.woff);
  src: url(font/39312E_5_0.woff2);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_1_0.ttf);
  src: url(font/39312E_1_0.eot);
  src: url(font/39312E_1_0.woff);
  src: url(font/39312E_1_0.woff2);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_0_0.ttf);
  src: url(font/39312E_0_0.eot);
  src: url(font/39312E_0_0.woff);
  src: url(font/39312E_0_0.woff2);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/39312E_2_0.ttf);
  src: url(font/39312E_2_0.eot);
  src: url(font/39312E_2_0.woff);
  src: url(font/39312E_2_0.woff2);
  font-weight: 100;
  font-style: italic;
}

body {
  background: black;
  color: white;
  font-family: 'Gilroy';
}

.meetUs {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.meetUs img {
  width: 20vw;
  max-width: 250px;
}

.meetUs h2 {
  font-size: 32px;
  font-weight: bold;
}

.meetUs p {
  font-size: 18px;
  width: 20vw;
  max-width: 300px;
  color: #7C7C7C;
  font-weight: 500;
}

.meetUs p span {
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */