@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_D_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_D_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_D_0.woff);
  src: url(.../../../Assets/fonts/Gilroy/font/39312E_D_0.woff2);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_C_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_C_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_C_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_C_0.woff2);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_13_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_13_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_13_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_13_0.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_12_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_12_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_12_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_12_0.woff2);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_F_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_F_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_F_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_F_0.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_E_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_E_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_E_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_E_0.woff2);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_11_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_11_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_11_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_11_0.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_10_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_10_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_10_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_10_0.woff2);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_4_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_4_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_4_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_4_0.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_3_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_3_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_3_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_3_0.woff2);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_9_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_9_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_9_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_9_0.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_8_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_8_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_8_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_8_0.woff2);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_6_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_6_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_6_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_6_0.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_7_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_7_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_7_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_7_0.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_B_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_B_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_B_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_B_0.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_A_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_A_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_A_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_A_0.woff2);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_5_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_5_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_5_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_5_0.woff2);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_1_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_1_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_1_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_1_0.woff2);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_0_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_0_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_0_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_0_0.woff2);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../../../Assets/fonts/Gilroy/font/39312E_2_0.ttf);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_2_0.eot);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_2_0.woff);
  src: url(../../../Assets/fonts/Gilroy/font/39312E_2_0.woff2);
  font-weight: 100;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

body {
  background: #1A191D;
  color: white;
  font-family: 'Gilroy';
  margin: 0;
}

.fillpink {
  background: #FF0074;
  border-color: #FF0074 !important;
}

.outerBorderpink {
  border-style: solid;
  border-color: #FF0074 !important;
}

.fillOrange {
  background: #FF4500;
  border-color: #FF4500 !important;
}

.outerBorderOrange {
  border-style: solid;
  border-color: #FF4500 !important;
}

.fillYellow {
  background: #FFE200;
  border-color: #FFE200 !important;
}

.outerBorderYellow {
  border-style: solid;
  border-color: #FFE200 !important;
}

.fullTitle {
  color: white !important;
  text-shadow: none !important;
}

.fullTitle .pink {
  color: #FF0074 !important;
}

.fullTitle .yellow {
  color: #FFE200 !important;
}

.fullTitle .orange {
  color: #FF4500 !important;
}

.titleShow {
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.openNav {
  background: rgba(124, 124, 124, 0.6) !important;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.NavBar {
  height: 10vh;
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.NavBar img {
  margin-left: 3vw;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80%;
  max-height: 60px;
}

.NavBar .menu {
  margin-left: auto;
  margin-right: 2vw;
  display: none;
}

.NavBar .menu ul li {
  display: inline;
  margin: 0px 20px;
}

.NavBar .menu ul li a {
  color: white;
  text-decoration: none;
}

.NavBar .menu ul li a:active {
  font-weight: 600;
}

.NavBar .menu ul li a:hover {
  font-weight: 600;
}

.NavBar .menuButton {
  height: 70%;
  max-height: 80px;
  background: rgba(124, 124, 124, 0.6);
  margin-right: 3vw;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.NavBar .menuButton span {
  width: 30%;
  height: 0px;
  border: 1px solid white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 2px;
}

.NavBar .menuButton:hover {
  background: #7c7c7c;
}

.NavBar .menuButton:hover span {
  width: 50%;
}

.NavBar #langChange {
  display: none;
  margin: 0px 25px;
}

.NavBar #langChange:hover p {
  font-weight: bold;
}

.ScrollBar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 35vh;
  width: 10vw;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ScrollBar .bar {
  background: #7c7c7c;
  height: 100%;
  width: 3px;
  position: absolute;
}

.ScrollBar .barSection {
  background: white;
  width: 3px;
  position: absolute;
}

.Intro {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../Assets/images/MainCityAlt.svg) center center no-repeat;
  background-size: cover;
}

.Intro .logo {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Intro .mainTitle {
  height: 60vh;
  width: 100vw;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Intro .mainTitle h1 {
  font-size: 70px;
  font-weight: bold;
  max-width: 90vw;
  text-align: center;
  margin: 0;
}

.Intro .mainTitle h1 .big {
  font-size: 120px;
}

.Intro .mainTitle h1 .small {
  font-weight: 300;
}

.Intro .mainTitle p {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.Intro .bottomDesc {
  width: 100vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Intro .bottomDesc p {
  margin: 0;
  margin-left: 7vw;
  padding: 20px 20px 20px 40px;
  width: 37vw;
  font-size: 18px;
  font-weight: 400;
  background: transparent black;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.mainSection {
  height: 300vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainSection .interactiveLogo {
  height: 100vh;
  width: 35%;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSection .interactiveLogo .MainLogo {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.mainSection .interactiveLogo .MainLogo div {
  position: absolute;
  width: 50%;
  height: 50%;
}

.mainSection .interactiveLogo .MainLogo .quarter1 {
  top: 0;
  left: 0;
  border-width: 0 3px 3px 0;
}

.mainSection .interactiveLogo .MainLogo .quarter1 .quarterfill1 {
  height: 82%;
  width: 82%;
  bottom: 0;
  right: 0;
  border-radius: 100% 0 0 0;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  border: solid white;
  border-width: 3px 0 0 3px;
}

.mainSection .interactiveLogo .MainLogo .quarter2 {
  top: 0;
  right: 0;
  border-width: 0 0 3px 0;
}

.mainSection .interactiveLogo .MainLogo .quarter2 .quarterfill2 {
  height: 82%;
  width: 82%;
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 0;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  border: solid white;
  border-width: 3px 3px 0 0;
}

.mainSection .interactiveLogo .MainLogo .quarter3 {
  bottom: 0;
  right: 0;
}

.mainSection .interactiveLogo .MainLogo .quarter3 .quarterfill3 {
  height: 82%;
  width: 82%;
  top: 0;
  left: 0;
  border-radius: 0 0 100% 0;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  border: solid white;
  border-width: 0 3px 3px 0;
}

.mainSection .interactiveLogo .MainLogo .quarter4 {
  bottom: 0;
  left: 0;
  border-width: 0 3px 0 0;
}

.mainSection .interactiveLogo .MainLogo .quarter4 .quarterfill4 {
  height: 82%;
  width: 82%;
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  border: solid white;
  border-width: 0 0 3px 3px;
}

.mainSection .interactiveLogo .MainLogo img {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainSection .mainInformation {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainSection .mainInformation .infoSec {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSection .mainInformation .infoSec .infoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.mainSection .mainInformation .infoSec .infoWrapper .infoTitle {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mainSection .mainInformation .infoSec .infoWrapper .hiddenInfo p {
  display: none;
  font-weight: 400;
  font-size: 18px;
  width: 50%;
  color: #7C7C7C;
}

.mainSection .mainInformation .infoSec .infoWrapper .hiddenInfo p span {
  font-weight: 600;
  color: white;
}

.mainSection .mainInformation .infoSec .infoWrapper .bottomControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 120px;
  width: 100%;
  margin-top: 30px;
}

.mainSection .mainInformation .infoSec .infoWrapper .bottomControls .number {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainSection .mainInformation .infoSec .infoWrapper .bottomControls .actionBut {
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mainSection .mainInformation .infoSec .infoWrapper .bottomControls .actionBut:hover {
  height: 100%;
}

.meetUs {
  height: 100vh;
  position: relative;
}

.meetUs .top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  position: absolute;
}

.meetUs .top .Img {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meetUs .top .Img img {
  width: 20vw;
  max-width: 250px;
  margin: 0px 100px;
}

.meetUs .top .Img span {
  height: 5px;
  background: white;
  border-radius: 4px;
  width: 30vw;
  max-width: 400px;
}

.meetUs .top .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
  background: rgba(124, 124, 124, 0.6) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 10px;
}

.meetUs .top .text h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

.meetUs .top .text p {
  font-size: 18px;
  width: 20vw;
  max-width: 300px;
  color: #7C7C7C;
  font-weight: 500;
}

.meetUs .top .text span {
  color: white;
  font-weight: bold;
}

.meetUs .bottom {
  height: 30%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  white-space: nowrap;
  background: transparent;
}

.meetUs .bottom h2 {
  font-size: 130px;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
}

.meetUs .bottom .N1 {
  display: inline-block;
  -webkit-animation: marquee1 20s linear infinite;
          animation: marquee1 20s linear infinite;
}

.meetUs .bottom .N2 {
  display: inline-block;
  -webkit-animation: marquee2 20s linear infinite;
          animation: marquee2 20s linear infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes marquee1 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee1 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee2 {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes marquee2 {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

.contactUs {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactUs h2 {
  font-size: 110px;
  font-weight: 800;
  color: #1A191D;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  margin: 0px;
  margin-bottom: -60px;
  z-index: 1;
}

.contactUs .contact-form {
  background-color: white;
  height: 55vh;
  width: 28vw;
  border-radius: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactUs .contact-form input {
  height: 60px;
  margin: 0px 15%;
  border: none;
  border-bottom: 1px solid #151515;
  font-size: 17px;
  font-weight: 300;
}

.contactUs button {
  height: 60px;
  width: 275px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFE200), to(#FF4500));
  background-image: linear-gradient(to right, #FFE200, #FF4500);
  margin: 30px;
}

footer {
  padding: 50px;
  font-size: 19px;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .RRSS {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .RRSS .Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .RRSS .Icons img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

footer .infoFoot {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .infoFoot .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */