@import '../Assets/fonts/Gilroy/gilroyFont';

//General Settings

html{


    scroll-behavior: smooth;
    overflow-y: scroll;

    -ms-overflow-style: none;

    overflow: -moz-scrollbars-none;
     
    &::-webkit-scrollbar{

        width: 0! important;

    }

}

body{

    background: #1A191D;
    color: white;
    font-family: 'Gilroy';
    margin: 0;
    padding: 0;

}

//Page Styles

.NavBar{

    height: 10vh;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

    img{

        margin-left: 3vw;
        object-fit: contain;
        height:80%;
        max-height: 60px;
        transition: all 1s ease-in-out;

    }

    .menu{

        margin-left:auto; 
        margin-right: 2vw;
        display: none;

        ul{

            li{

                display: inline;
                margin: 0px 20px;
                
                a{

                    color: white;
                    text-decoration: none;

                    &:active{

                        font-weight: 600;

                    }

                    &:hover{

                        font-weight: 600;

                    }

                }

            }

            #langChange{

                cursor: pointer;

                &:hover{

                    p{

                        font-weight: bold;

                    }

                }

            }


        }

    }

    .menuButton{

        height: 70%;
        max-height: 80px;
        background:rgba(124, 124, 124, 0.6);
        margin-right: 3vw;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        span{

            width: 30%;
            height: 0px;
            border: 1px solid white;
            transition: all 0.2s linear;
            margin: 2px;

        }

        &:hover{

            background:rgba(124, 124, 124, 1);

            span{

                width: 50%;

            }

        }
        
    }

}

.ScrollBar{

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 35vh;
    width: 10vw;
    background: transparent;
    display: flex;
    justify-content: center;

    .bar{

        background:rgba(124, 124, 124, 1);
        height:100%;
        width:3px;
        position: absolute;

    }

    .barSection{

        background:white;
        width:3px;
        position: absolute;

    }

}

.Intro{

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: url(../Assets/images/MainCityAlt.svg) center center no-repeat;
    background-size: cover;

    .logo{

        height: 10vh;
        display: flex;
        align-items: center;


    }

    .mainTitle{

        height: 65vh;
        width:100vw;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{

            font-size: 70px;
            font-weight: bold;
            max-width: 90vw;
            text-align: center;
            margin: 0;
            pointer-events: none;

            .big{

                font-size: 120px;

            }

            .small{

                font-weight: 300;

            }

        }

        p{

            font-size: 21px;
            font-weight: bold;
            text-align: center;

        }

    }

    .bottomDesc{

        width: 100vw;
        height: 25vh;
        display: flex;
        align-items: center;

        p{

            margin: 0;
            margin-left: 7vw;
            padding: 20px 20px 20px 40px;
            width: 37vw;
            font-size: 18px;
            font-weight: 400;
            background: transparent rgba(0, 0, 0, 1);
            backdrop-filter: blur(30px);
            text-align: justify;

        }

    }

}

.mainSection{

    height: 300vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

    .interactiveLogo{

        height: 100vh;
        width: 35%;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;

        .MainLogo{

            position: relative;
            width: 70%;
            margin: 0 auto;

            div{

                position: absolute;
                width: 50%;
                height: 50%;

            }

            .quarter1 {

                top: 0;
                left: 0;
                border-width: 0 3px 3px 0;

                .quarterfill1{

                    height: 82%;
                    width:82%;
                    bottom: 0;
                    right: 0;
                    border-radius: 100% 0 0 0;
                    transition: background-color 0.8s ease-in-out;
                    border:solid white;
                    border-width: 3px 0 0 3px;
    
                }  

              }

            .quarter2 {

                top: 0;
                right: 0;
                border-width: 0 0 3px 0;

                .quarterfill2{

                    height: 82%;
                    width:82%;
                    bottom: 0;
                    left: 0;
                    border-radius: 0 100% 0 0;
                    transition: background-color 0.8s ease-in-out;
                    border:solid white;
                    border-width: 3px 3px 0 0;
    
                }  

              }

            .quarter3 {

                bottom: 0;
                right: 0;

                .quarterfill3{

                    height: 82%;
                    width:82%;
                    top: 0;
                    left: 0;
                    border-radius: 0 0 100% 0;
                    transition: background-color 0.8s ease-in-out;
                    border:solid white;
                    border-width: 0 3px 3px 0;
    
                }  

              }

            .quarter4{

            bottom: 0;
            left: 0;
            border-width: 0 3px 0 0;

            .quarterfill4{

                height: 82%;
                width:82%;
                top: 0;
                right: 0;
                border-radius: 0 0 0 100%;
                transition: background-color 0.8s ease-in-out;
                border:solid white;
                border-width: 0 0 3px 3px;

            }  

              }

              img{

                position: absolute;
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
                height: 50%;
                object-fit: contain;

              }

        }

    }

    .mainInformation{

        width: 65%;
        display: flex;
        flex-direction: column;

        .infoSec{

            height: 100vh;
            display: flex;
            align-items: center;

            .infoWrapper{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: initial;

                .infoTitle{

                    font-size: 80px;
                    font-weight: 900;
                    text-transform: uppercase;
                    color:black;
                    margin: 0;
                    transition: all 0.5s ease-in-out;
    
                }
    
                .hiddenInfo{

    
                    p{
    
                        display: none;
                        font-weight: 400;
                        font-size: 18px;
                        width: 50%;
                        color: #7C7C7C;
                        text-align: justify;

                        span{

                            font-weight: 600;
                            color:white;

                        }
    
                    }
    
                }

                .bottomControls{

                    display: flex;
                    align-items: center;
                    justify-content: left;
                    height: 120px;
                    width: 100%;
                    margin-top: 30px;

                    .number{

                        height: 100%;
                        object-fit: contain;

                        a{
                            fill:none;stroke:#868686;
                            font-size:68px;
                            font-family:Gilroy; 
                            font-weight:bold;
                        }


                    }

                    .actionBut{

                        height: 80%;
                        object-fit: contain;
                        transition: all 0.5s ease-in-out;

                    }

                }

            }
            
        }

    }

}

.meetUs{

height: 100vh;
position: relative;

.top{

height: 100%;    
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
z-index: 1;
position: absolute;


.Img{


    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img{

        width: 20vw;
        max-width: 250px;
        margin: 0px 100px;
        
    }

    span{

        height:5px;
        background: white;
        border-radius: 4px;
        width:30vw;
        max-width: 400px;

    }

}

.text{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    background:rgba(124, 124, 124, 0.6) !important;
    backdrop-filter: blur(5px);
    padding: 20px 20px 10px;
    border-radius: 10px;

    h2{

        font-size: 32px;
        font-weight: bold;
        margin: 0px;

    }

    p{

        font-size: 18px;
        width: 30vw;
        max-width: 300px;
        color: #7C7C7C;
        font-weight: 500;
    }

    span{

        color: white;
        font-weight: bold;

    }

}
}

.bottom{

height: 30%;
width: 100%;
z-index: -1;
position: absolute;
top: 45%;
display:flex;
align-items: center;
overflow: hidden;
white-space: nowrap;
background: transparent;

h2{

font-size: 130px;
font-weight: 800;
text-transform: uppercase;
color: black;

}

.N1{

    display: inline-block;
    animation: marquee1 20s linear infinite;
    
}

.N2{

    display: inline-block;
    animation: marquee2 20s linear infinite;
    animation-delay: 10s;
    
}

@keyframes marquee1 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee2 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-200%);
    }
  }

}

}

.contactUs{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2{

        font-size:110px;
        font-weight: 800;
        color: #1A191D;
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
        margin: 0px;
        margin-bottom: -60px;
        z-index: 1;

    }


    .contact-form{

        background-color: white;
        height: 55vh;
        width: 28vw;
        border-radius: 41px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-width: 450px;

        input{

            height: 60px;
            margin: 0px 15%;
            border: none;
            border-bottom: 1px solid #151515;
            font-size: 17px;
            font-weight: 300;

        }

        div{

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            p{

                font-size: 17px;
                color: #1A191D;
                width: 60%;
                text-align: end;
                margin-right: 5%;

            }

            .check{

                height: 20px;
                width: 40px;
                background-color: #7C7C7C;
                position: relative;
                border-radius: 15px;
                border: 2px solid #7C7C7C;
                transition: all 0.3s ease-in-out;

                .button{

                    height: 20px;
                    width: 20px;
                    background: white;
                    border-radius: 15px;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    transition: all 0.3s linear;

                }


                &:hover{

                    background: white;
                    border: 2px solid #FF0074;
                    background: #FF0074;

                    .button{

                    margin-left: 20px;
                    left: auto;

                    }

                }

            }

        }

    }

    button{

        height: 60px;
        width: 275px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-image: linear-gradient(to right, #FFE200, #FF4500);
        margin: 30px;

    }
    


}

footer{

    padding: 50px;
    font-size: 19px;
    font-weight: 200;
    display: flex;
    flex-direction: row;

    .RRSS{

        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Icons{

            display: flex;
            justify-content: center;
            align-items: center;

            img{

                height: 50px;
                width: 50px;
                margin: 10px;
    
            }

        }

    }

    .infoFoot{

        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;

        .links{

            display: flex;
            align-items: center;
            justify-content: space-between;

        }

    }

}


//Special Classes

.fillpink{

    background: #FF0074;
    border-color:#FF0074 !important;

}

.outerBorderpink{

    border-style: solid;
    border-color:#FF0074 !important;

}

.fillOrange{

    background: #FF4500;
    border-color:#FF4500 !important;

}

.outerBorderOrange{

    border-style: solid;
    border-color:#FF4500 !important;

}

.fillYellow{

    background: #FFE200;
    border-color:#FFE200 !important;

}

.outerBorderYellow{

    border-style: solid;
    border-color:#FFE200 !important;

}

.fullTitle{

    color: white !important;

    text-shadow: none !important;

    .pink{

        color: #FF0074 !important;

    }

    .yellow{

        color: #FFE200 !important;

    }

    .orange{

        color: #FF4500 !important;

    }

}

.titleShow{

    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

}

.openNav{

    background:rgba(124, 124, 124, 0.6) !important;
    backdrop-filter: blur(20px);

    .menu{

        display: block !important;

    }

    .menuButton{

        background:rgba(124, 124, 124, 1) !important;

        span{

            width:50% !important;
            position:absolute !important;
            margin:0 !important;

        }

        .l1{

            transform:rotate(45deg) !important;

        }

        .l2{

            transform:rotate(-45deg) !important;

        }

    }

}

//Animation Classes 

.hiddenO{

    opacity: 0;

}

.hiddenL{

    transform: translateX(-100%);

}

.hiddenB{

    transform: translateY(100%);

}

.showGrow{

animation: grow 1.5s ease-in-out;

}

.showSlideL{

animation: slideL 1s ease-in-out;

}

.showSlideB{

animation: slideB 1.5s ease-in-out;

}

.showOp{

animation: appear 1s ease-in-out;

}

//Animations

@keyframes grow{

from{

    opacity: 0;
    transform: scale(0.2, 0.2);

}

to{

    opacity: 1;
    transform:  scale(1,1);

}
}

@keyframes slideL{

    from{

        transform: translateX(-100%);
    
    }
    
    to{
    
        transform: translateX(0);
    
    }

}

@keyframes slideB{

    from{

        transform: translateY(100%);
    
    }
    
    to{
    
        transform: translateY(0);
    
    }

}

@keyframes appear{

    from{

        opacity: 0;
    
    }
    
    to{
    
        opacity: 1;
    
    }

}

@media only screen and (max-width: 600px){

.openNav{

    background:rgba(124, 124, 124, 0.2) !important;
    backdrop-filter: blur(20px);
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: center;

    img{

        display: none;

    }

    .menu{

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100vw !important;

        ul{

        display: flex !important;
        flex-direction: column !important;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
        margin: 0;
        padding: 0;

        }

    }

    .menuButton{


        position: absolute;
        right: 3vw;
        top:1.5vh;

    }

}    

.NavBar{

    position: fixed;

    img{

        position: absolute !important;
        left: 0;
        top: 1.5vh;

    }

    .menuButton{

        height: 7vh !important;
        width: 7vh !important;
        position: absolute;
        right: 3vw;
        top: 1.5vh;
        margin: 0;

        span{

            width: 30%;
            height: 0px;
            border: 2px solid white;
            transition: all 0.2s linear;
            margin: 2px;

        }

    }

}

.ScrollBar{

display: none;

}

.Intro{

    margin:0;
    justify-content: space-around;

    .mainTitle{

        h1{

            font-size: 40px;
            font-weight: bold;
            max-width: 90vw;
            text-align: center;
            margin: 0;
            pointer-events: none;

            .big{

                font-size: 50px;

            }

            .small{

                font-weight: 300;

            }

        }

        p{

            font-size: 18px;
            margin: 1.5em;

        }

    }

    .bottomDesc{

        height: 20vh;

        p{

            width: 100%;
            margin: 0;
            font-size: 16px;

        }

    }

}

.mainSection{

    flex-direction: column;
    height: 210vh;

    .interactiveLogo{

        padding-top: 10vh;
        height: 30vh;
        width:100vw;
        background: #1A191D;

        .MainLogo{

            height: 30vh;
            width: 30vh;

        }

    }

    .mainInformation{

        width: 100vw;

        .infoSec{

            height: 60vh;
            justify-content: center;

            .infoWrapper{

                .infoTitle{

                    font-size: 35px;
                    text-align: center;

                }

                .hiddenInfo{

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{

                        font-size: 12px;
                        width: 80%;

                    }

                }

                .bottomControls{

                    height: 10vh;
                    justify-content: center;

                    .number{

                    transition: all 0.5s ease-in-out;

                    }

                    .actionBut{

                        height: 90%;
                        z-index: -1;

                    }

                }

            }

        }

    }

}

.meetUs{

    .top{

        justify-content: space-around;

        .Img{

            margin-top: 5vh;
            height:30vh;
        
            img{
        
                height: 30vh;
                width: auto;
                object-fit: cover;
                
            }
        
            span{
                display: none;
            }
        
        }

        .text{

            margin-top: 0;
        
            p{
    
                width: 80vw;

            }
        
        }
        
    }

}

.contactUs{

    h2{

        font-size: 90px;
        margin-bottom: -55px;

    }

    .contact-form{

        width: 90vw;
        height: 60vh;
        min-width: 300px;

        input{

            font-size: 14px;
            width: 84%;
            margin: 0 8%;

        }

        div{

            p{

                font-size: 14px;

            }

            .check{

                height: 15px;
                width: 30px;

                .button{

                    height: 15px;
                    width: 15px;

                }

                &:hover{


                    .button{

                        margin-left: 15px;

                    }

                }

            }

        }

    }

    button{

        height: 50px;
        width: 220px;

    }

}

footer{

    flex-direction: column;

    .RRSS{

        width: 100%;
        margin-bottom: 40px;

    }

    .infoFoot{

        width: 100%;

        .links{

            flex-direction: column;
            margin-bottom: 40px;

        }

        #FootRights{

            text-align: center;
            font-size: 15px;

        }

    }

}

}
