@import '../Assets/fonts/Gilroy/gilroyFont';

body{

background: black;
color: white;
font-family: 'Gilroy';

}

.meetUs{

height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;

img{

width: 20vw;
max-width: 250px;

}

h2{

font-size: 32px;
font-weight: bold;

}

p{

font-size: 18px;
width: 20vw;
max-width: 300px;
color: #7C7C7C;
font-weight: 500;

span{

    color: white;
    font-weight: bold;

}

}

}